# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/mainApp/node_modules
/mainApp/.pnp
.pnp.js

# testing
/mainApp/coverage

# next.js
/mainApp/.next/
/mainApp/out/

# production
/mainApp/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
/mainApp/.vercel

# typescript
/mainApp/*.tsbuildinfo
next-env.d.ts

/psql/data
/secret/postgres-password
/mainApp/.env
/mainApp/secret

.env.local-postgres
.env.vercel-cloud
.vercel_cloud_started
.vercel_cloud_dev_started
.local_postgres_started
.local_postgres_dev_started